.more-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;

}

more-info-container span {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;

}

.more-info-container img {
 
    border: 2px solid grey;
    border-radius: 5px;
    padding: 5px;

}

.backdrop {
    position: absolute; 
    width: 100%;
    height: 100%;
    z-index: 100000;
    background-color: black;
    opacity: 0.5;
    overflow: hidden;
    display: none;
}

.backdrop-box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    
}

.wrapper .personal-image {
  align-self: center;
}

.wrapper img {
    height: 400px;
}

header {
    height:320px ;
    background-image: url("./images/banner.jpg");
    background-repeat: no-repeat;
    background-position:100% 740%;
    background-size: cover;
    background-attachment: fixed;
  
}

header h1 {
    font-size: 6em;
    font-weight: 900;
    color: #f7f3ec;
    -webkit-text-stroke: 1px #0c1b3c;
}

.btn {
    background-color: #4B264B;
  
}

.active {
    background-color: #D56F5E !important;
    font-weight: 900;
}

.nav-link {
    color: rgb(66, 62, 62);
    font-weight: 900;
    font-size: 1.3em;
}

form .btn {
    background-color: #F9AE5A !important;
    border: none;
}